@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<CategoryDto>

@section PageCss{
    <link href="~/assets/libs/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables/responsive.bootstrap4.css" rel="stylesheet" type="text/css" />
    }

<!-- Start Content-->
<div class="container-fluid">

    <br />
    <br />
    <!-- end page title -->
    <a class="btn btn-primary btn-rounded width-md waves-effect waves-light mb-4" asp-controller="Categories" asp-action="Save">
        <i class=" fas fa-user-plus mr-1"></i> New Category
    </a>

    <div class="row">
        <div class="col-12">
            <div class="card-box">



                <table class="table table-hover m-0 tickets-list table-actions-bar dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;" id="datatable">
                    <thead>
                        <tr>
                            <td>Id</td>
                            <td>İsim</td>
                            <td class="hidden-sm">İşlemler</td>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (var item in Model)
                        {

                            <tr>

                                <td>
                                    <span class="ml-1">
                                        <b>  @item.Id  </b>
                                    </span>
                                </td>

                                <td>
                                    @item.Name
                                </td>


                                <td>
                                    <a asp-controller="Categories" asp-action="Update" asp-route-id="@item.Id"><i class="mdi mdi-square-edit-outline mr-1 text-muted font-18 vertical-middle"></i>  </a>

                                    <a asp-controller="Categories" asp-action="Remove" asp-route-id="@item.Id"><i class="mdi mdi-delete mr-1 text-muted font-18 vertical-middle"></i>  </a>

                                    <a class="category-button"  data-category-id="@item.Id"><i class="mdi mdi-information-outline mr-1 text-muted font-18 vertical-middle"></i>  </a>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div><!-- end col -->
    </div>
    <!-- end row -->
    <!--  category's products list in Popup-->
    <div class="modal fade" id="category-products-modal" tabindex="-1" role="dialog" aria-labelledby="category-products-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="category-products-modal-title">Category's Products</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="category-products-list">

                    <table class="table table-hover m-0 tickets-list table-actions-bar dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;" id="datatable">
                        <thead>
                            <tr>
                                <td>Id</td>
                                <td>İsim</td>
                                <td>Alış Fiyatı</td>
                                <td>Satış Fiyatı</td>
                                <td>Stok</td>
                            </tr>
                        </thead>

                        <tbody id="SetProductList">

                            <tr id="Load" style="color:red">
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>



</div> <!-- end container-fluid -->
@section PageJs{

    <script>

        $(document).ready(function () {
            // Handle the button click event
            $('.category-button').click(function () {
                // Retrieve the category ID from the button's data attribute
                var categoryId = $(this).data('category-id');

                // Send an AJAX request to retrieve the category's products list
                $.ajax({
                    url: '@Url.Action("GetByCategoryId", "Products")',
                    type: 'GET',
                    data: { categoryId: categoryId },
                    success: function (result) {
                        console.log(result);
                        // Parse the returned JSON and dynamically create HTML to display the list of products
                        var setData = $("#SetProductList");
                        setData.empty();
                        for (var i = 0; i < result.length; i++) {
                            var data = "<tr>" +
                                "<td>" + result[i].id + "</td>" +
                                "<td>" + result[i].name + "</td>" +
                                "<td>" + result[i].buyPrice + "</td>" +
                                "<td>" + result[i].sellPrice + "</td>" +
                                "<td>" + result[i].stock + "</td>" +
                                "</tr>";
                            setData.append(data);
                            $("Load").html("");
                        }
                        // Populate the modal popup with the products list
                        $('#category-products-modal').modal('show');
                        // Show the modal popup
                    }
                });
            });


     
                        });




    </script>



    <!-- third party js -->
    <script src="~/assets/libs/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/libs/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/libs/datatables/dataTables.responsive.min.js"></script>

    <!-- Tickets js -->
    <script src="~/assets/js/pages/tickets.init.js"></script>

    }






